WPF_Client/Service References/MyRef/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_TaskBasedService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_TaskBasedService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeInfo" nillable="true" type="tns:EmployeeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeInfo" nillable="true" type="tns:ArrayOfEmployeeInfo" />
  <xs:complexType name="EmployeeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeInfo" nillable="true" type="tns:EmployeeInfo" />
</xs:schema>